.slider-mask {
  overflow: hidden;
}

.slider-track {
  overflow: auto;
  display: inline-flex;
}

.slider-mask-2 {
  overflow: hidden;
}

.slider-track-2 {
  overflow: auto;
  display: inline-flex;
}

.slider-mask-3 {
  overflow: hidden;
}

.slider-track-3 {
  overflow: auto;
  display: inline-flex;
}
