.l-intro {
  background: linear-gradient(180deg, #f6d8b2 34.51%, #f3e6dd 100%);
}

.l-chapter-1 {
  background: #f3e6dd;
}

.l-chapter-2 {
  background: linear-gradient(180deg, #f3e6dd 0%, #f6d8b2 63.11%);
}

.l-chapter-3 {
  background: linear-gradient(180deg, #f6d8b2 0%, #f3e6dd 46.83%);
}

.l-shop {
  background: linear-gradient(180deg, #363e68 0%, #2f3559 54.11%, #242942 100%);
}

.l-page {
  display: flex;
  flex-direction: column;
}

.l-chapter {
  height: 100vh;
  justify-content: center;
  align-items: center;
  position: relative;
  .l-chapter-part {
    margin: 2px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-bottom: 0.5%;
    aspect-ratio: 1 / 1.5;
  }
}

.l-chapter-horizontal {
  width: 300%;
}

.l-first-img {
  position: relative;
}

.l-big-img {
  width: 32%;
  top: 10%;
  position: absolute;
}

.l-middle-img {
  width: 30%;
  position: absolute;
  left: 12%;
  top: 10%;
}

.l-middle-right-img {
  width: 30%;
  position: absolute;
  right: 12%;
  bottom: 25%;
}

.l-middle-2-img {
  width: 35%;
  position: absolute;
  left: 12%;
  top: 10%;
}

.l-middle-3-img {
  width: 35%;
  position: absolute;
  right: 12%;
  bottom: 25%;
}

.l-long-img {
  width: 55%;
  position: absolute;
  right: 12%;
  top: 35%;
}

.l-img-music {
  top: 10%;
  right: 6%;
  width: 8%;
  position: fixed;
  z-index: 2;
}
